<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <header th:fragment="navigation">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
            <div class="navbar-brand" href="#"> <i class="fas fa-list-alt"></i> ToDo </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/add}"> <i class="fas fa-plus"></i> Add task</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <footer class="footer" th:fragment="foot">
        <div class="container">
            <span class="text-muted">ToDo application created by lukakan</span>
        </div>
    </footer>
</body>
</html>